{include file="$blogtemplate/header.template"}
<div id="content">
  {foreach from=$posts item=post}
    {include file="$blogtemplate/post.template"}
  {/foreach}
  <br/>
<div style="margin-top:10px">
 {pager style="links"}
</div>
</div>

{include file="$blogtemplate/panel.template"}
{include file="$blogtemplate/footer.template"}
