{include file="$blogtemplate/header.template"}

{foreach from=$posts item=post}
{include file="$blogtemplate/post.template"}
{/foreach}
 {pager style="links"}  
{include file="$blogtemplate/footer.template"}