	<!-- begin footer -->
	<DIV id=footer>
		<P>Using the Dawn theme design by <A href="http://www.fahlstad.se/">Fredrik Fahlstad </A>
		Proudly powered by <A href="http://www.lifetype.net/">LifeType</A>.
		</P>
	</DIV>
</DIV>
</BODY>
</HTML>