
<!-- Credits -->
<p class="credit">
Powered by <a href="http://www.lifetype.net" target="_blank">LifeType</a><br />
<span  style="font-size:11px;">&copy;</span>
2006&nbsp;-&nbsp;Design by
<a href="http://omar.spollo.com" title="http://omar.spollo.com">
Omar Romero</a>
(all rights reserved)
</p>
<!-- Credits end -->
</div><div id="footer"></div>
</body>
</html>