#content {
width:566px !important;
width:550px;
float:left;
background:#FFFFFF;
overflow:hidden;
}

#header {
width:800px;
margin-right:auto;
margin-left:auto !important;
}

#footer {
background:url(imgs/page_bottom.gif) bottom center transparent no-repeat;
padding-bottom:0px;
margin-bottom:0px;
height:69px;
}