	<!-- begin footer -->
	<div id="footer">
		<p>fBlue theme by <a href="http://www.fahlstad.se/">Fredrik Fahlstad</a>.
		Powered by <a href="http://www.lifetype.net">Lifetype</a>.
		</p>
	</div>
</div>
</body>
</html>