{include file="$blogtemplate/header.template"}	{assign var="postDate" value=$post->getDateObject()}	{assign var="postOwner" value=$post->getUserInfo()}	{include file="$blogtemplate/post.template"}<!-- {$url->postTrackbackLink($post)} -->{if $blogsettings->getValue("comments_enabled") && $post->getCommentsEnabled()==1 || $comments }	<h3 id="comments">{$locale->tr("comments")}</h3>	{include file="$blogtemplate/comments.template"}	{include file="$blogtemplate/commentform.template"}{/if}</div>{include file="$blogtemplate/sidebar.template"}{include file="$blogtemplate/footer.template"}