{include file="$blogtemplate/header.template"}
 {foreach from=$posts item=post}
  {include file="$blogtemplate/post.template"}
 {/foreach}
 <br/>
 <div style="text-align:center">{pager style="links"}</div>
{include file="$blogtemplate/footer.template"}