
<div id="footer">
<p>
Theme Design by <a href="http://beccary.com/goodies/wordpress-themes/">Becca Wei</a>. Modified by <a href="http://blog.ysmis.cc/mit">MIT</a>.
Powered by <a href="http://www.lifetype.net">Lifetype</a>.
</p>
</div>

</div>
</body>
</html>