{include file="$blogtemplate/header.template"}
	<div id="content">
	{foreach from=$posts item=post}
  		{include file="$blogtemplate/post.template"}
	{/foreach}
	 {pager style="links"}
	</div>
{include file="$blogtemplate/panel.template"}
{include file="$blogtemplate/footer.template"}