<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$locale->getLanguageId()}" 
      lang="{$locale->getLanguageId()}" dir="{$locale->getDirection()}">
<head>
 <meta http-equiv="Content-Type" content="text/html;charset={$locale->getCharset()}" />
 <meta name="generator" content="{$version}" />
 <meta http-equiv="Content-Language" content="{$locale->getLanguageId()}" />
 <meta name="author" content="Your Name / Original design: Andreas Viklund - http://andreasviklund.com/" />
 <title>{$pageTitle|escape:"html"}</title>
 <link rel="stylesheet" title="Default" href="{$url->getTemplateFile("andreas01.css")}" type="text/css" />
 <link rel="alternate" type="text/xml" title="RSS 2.0" href="{$url->rssLink("rss20")}" />
 <link rel="alternate" type="text/xml" title="RSS 1.0" href="{$url->rssLink("rss10")}" />
 <link rel="alternate" type="text/xml" title="RSS 0.90" href="{$url->rssLink("rss090")}" />
 <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{$url->rssLink("atom")}" />
 <link rel="stylesheet" type="text/css" href="{$url->getTemplateFile("print.css")}" media="print" />
 <link rel="shortcut icon" type="image/x-icon" href="{$url->getTemplateFile("favicon.ico")}" />
{if $badbehavior}
   {$badbehavior->showBB2JavaScript()}
{/if}
</head>
<body><div id="wrap">

<div id="header">
<h1><a href="{$url->blogLink()}">{$blog->getBlog()}</a></h1>
<p>{$blog->getAbout()}</p>
</div>

<img id="frontphoto" src="{$url->getTemplateFile("front.jpg")}" width="760" height="175" alt="" />

