{include file="$blogtemplate/header.template"}
<div class=entry>
<!-- Loop Start -->
<h3 id="respond">{$locale->tr("add_comment")}</h3>
</div>
{include file="$blogtemplate/commentform.template"}
{include file="$blogtemplate/footer.template"}